


#nickWrap{

}
#nickWrap .nickbox{
	margin-top: 44vh;
	max-width: 320px;
}

#chat{
	height: 500px;
	overflow-y: scroll;
	overflow-wrap: break-word;
	margin-bottom: 20px;
}
#contentWrap{
	display: none;
}
#chatWrap{

}
#alerts {
  position: absolute;
  width: 95%;
  text-align: center;
}
#gameAreaWrap{
  height: 800px;
	padding-top: 100px;/*if not read vh*/
	padding-top:20vh;
}
#joinWrap{
	margin:20px 0px;
}
#playWrap{
	display: none;
	text-shadow: 0 1px 0 #fff;
}
#totalsWrap .nick{
	font-size: 16px;
}
#totalsWrap .nick.left{
}
#totalsWrap .score{
	font-size: 24px;
}
#movieStuff{
    font-size: 32px;
    margin: 40px 0px;
}
#rounds{
	display: none;
}
.notes-holder{
	height: 100px;
}
#gameNotes{
}
#waiting{
	margin:10px 0px;
	font-size: 18px;
}

#spectateWrap{
	display: none;
}
.title-area{
  margin-bottom: 30px;
  height: 120px;
  background-color: #FF5F69;
}
h1.page-title{
	text-align: center;
  font-size: 60px;
  font-family: 'lato';
  color: #fff;
  
}
.blips{
	margin-top: -34px;
	display: none;
}
.movies-area{
	height: 170px;
}

@media (max-width : 768px) {
	input#answer {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
	.title-area{
		height: inherit;
	}

}


@media only screen and (max-device-width : 480px) {
	#setNick input[type=submit]{
    margin: 20px auto;
    display: block;
	}
	#chat{
	height: 250px;
	overflow-y: scroll;
	overflow-wrap: break-word;
	}
	#gameAreaWrap{
		min-height: 568px;
		height:100vh;
	}
}