#nickWrap{

}
#nickWrap .nickbox{
	margin-top: 44vh;
	max-width: 320px;
}

#chat{
	height: 500px;
	overflow-y: scroll;
	overflow-wrap: break-word;
}
#contentWrap{
	display: none;
}
#chatWrap{

}
#gameAreaWrap{
	min-height: 568px;
	height:100vh;
	padding-top: 100px;/*if not read vh*/
	padding-top:20vh;
}
#joinWrap{
	margin:20px 0px;
}
#playWrap{
	display: none;
}
#totalsWrap .nick{
	font-size: 16px;
}
#totalsWrap .nick.left{
}
#totalsWrap .score{
	font-size: 24px;
}
#movieStuff{
    font-size: 32px;
    margin: 40px 0px;
}
#rounds{
	display: none;
}
.notes-holder{
	height: 100px;
}
#gameNotes{
}
#waiting{
	margin:10px 0px;
	font-size: 18px;
}

h1{
	text-align: center;
	font-size: 60px;
}
.blips{
	margin-top: -34px;
	display: none;
}
.movies-area{
	height: 170px;
}

@media only screen and (max-device-width : 480px) {
	#setNick input[type=submit]{
    margin: 20px auto;
    display: block;
	}
}